chroot $1 apt-get install -y wget
chroot $1 rm -f /etc/udev/rules.d/70-persistent-net.rules
chroot $1 apt-get install -y openssh-server
chroot $1 wget http://people.ubuntu.com/~chucks/ec2/ec2-modules-2.6.27-7-${arch}.tar.gz -O /tmp/ec2-modules-2.6.27-7-${arch}.tar.gz
chroot $1 tar -zxvf /tmp/ec2-modules-2.6.27-7-${arch}.tar.gz -C /
chroot $1 depmod 2.6.27-7-xen

# fstab is weird on ec2

cat > $1/etc/fstab << EOF
/dev/sda1 / ext3 defaults 1 1
/dev/sdb /mnt ext3 defaults 0 0
none /proc proc defaults 0 0
none /sys sysfs defautls 0 0
EOF

# console needs to be setup properly as well
# so users can get ssh-keys
echo "xvc0" >> $1/etc/securetty
sed -i "s/tty1/xvc0/" $1/etc/event.d/tty1

# do things the ubuntu way
chroot $1 passwd -l $user

