Source: vm-builder
Section: utils
Priority: extra
Maintainer: Soren Hansen <soren@ubuntu.com>
Build-Depends: cdbs, debhelper (>= 5.0.38), python-all-dev (>= 2.3.5-11), python-central (>= 0.5.6), python-epydoc
Standards-Version: 3.8.0
XS-Python-Version: >= 2.5
Vcs-Bzr: http://bazaar.launchpad.net/~ubuntu-virt/vmbuilder/trunk

Package: python-vm-builder
Architecture: all
Depends: kvm (>= 1:69) | qemu, debootstrap (>= 1.0.9), parted, kpartx, ubuntu-keyring, ${python:Depends}, python-cheetah, devscripts
Recommends: python-libvirt
XB-Python-Version: ${python:Versions}
Description: VM builder
 Script that automates the process of creating a ready to use Linux based VM.
 The currently supported hypervisors are:
 .
  * KVM 
  * Xen
  * VMWare
 .
 The currently supported distros are:
 .
  * Ubuntu Dapper, Gutsy, Hardy, Intrepid, and Jaunty.
 .
 You can pass command line options to add extra packages, remove packages,
 choose which version of Ubuntu, which mirror etc. On recent hardware
 with plenty of RAM, tmpdir in /dev/shm or using a tmpfs, and a local mirror,
 you can bootstrap a vm in less than a minute.

Package: ubuntu-vm-builder
Architecture: all
Depends: python-vm-builder
Description: Ubuntu VM builder
 Script which automates the process of creating a ready to use VM based on
 Ubuntu. You can pass command line options to add extra packages, remove
 packages, choose which version of Ubuntu, which mirror to use etc. 
 .
 On recent hardware with plenty of RAM, tmpdir in /dev/shm or using a tmpfs,
 and a local mirror, you can bootstrap a vm in less than a minute.

Package: python-vm-builder-ec2
Architecture: all
Depends: python-vm-builder, ec2-ami-tools, python-boto
XB-Python-Version: ${python:Versions}
Description: EC2 Ubuntu VM builder
 Ubuntu vmbuilder module that automates the process of create a ready to use
 EC2 image (AMI) based on Ubuntu. You can pass command line options to add
 extra packages, remove packages, choose which version of Ubuntu, which
 mirror to use etc.
 .
 VMBuilder module to build, upload and register EC2 images. You will
 need to have an Amazon EC2 account in order to use this package.

