<domain type='%VM%'>
  <name>%LIBVIRTNAME%</name>
  <memory>%MEM%</memory>
  <vcpu>1</vcpu>
  <os>
    <type>hvm</type>
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
  </features>
  <clock offset='utc'/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <devices>
    <emulator>/usr/bin/%VM%</emulator>
    <interface type='network'>
      <mac address='%MAC%'/>
      <source network='default'/>
    </interface>
    <input type='mouse' bus='ps2'/>
    <graphics type='vnc' port='-1' listen='127.0.0.1'/>
%loop%
    <disk type='file' device='disk'>
      <source file='%img%'/>
      <target dev='hd%curdisk%'/>
    </disk>
%/loop%
  </devices>
</domain>
