config.version = "8"
virtualHW.version = "%VMHWVERSION%"
scsi0.present = "FALSE"
scsi0.virtualDev = "lsilogic"
memsize = "%MEM%"
Ethernet0.virtualDev = "vlance"
Ethernet0.present = "TRUE"
Ethernet0.connectionType = "bridged"
displayName = "%HOSTNAME% %ARCH%"
guestOS = "%guestos%"
priority.grabbed = "normal"
priority.ungrabbed = "normal"
powerType.powerOff = "hard"
powerType.powerOn = "hard"
powerType.suspend = "hard"
powerType.reset = "hard"
floppy0.present = "FALSE"
